.sectionTres_container{
    display: flex;
    margin: 50px auto 50px auto;
    width: 569px;
    height: auto;
}

.sectionTres_container > .sectionTres_img{
    width: 186px;
    margin: auto;
}

.sectionTres_container > .sectionTres_img > img{
    max-width: 172px;
}

.sectionTres_container > .section_textoTres > p{
    margin-top: 59px;
}

.section_textoTres{
  width: 323px;
}



@media screen and (max-width: 800px) {
  .sectionTres_container{
    flex-direction: column;
    width: 90%;
    margin: auto;
  }

  .section_textoTres{
    width: 91%;
    margin: auto;
  }

  .section_textoTres > p{
    width: 100%;
    text-align: justify;
    margin-bottom: 30px;
  }

 }