.icone_img{
    max-width: 96px;
    width: 100%;
}

.icone_subtitulo{
    text-align: center;
}

@media screen and (max-width: 800px) {

    .programasoferecidos_container-um{
        margin: auto;
    }
    .icone-container{
        width: 81px;
    }

    .icone_img {
        max-width: 43px;
        margin-left: 17px;
   }
}