.Imagens_cotainer{
    width: 530px;
    margin: auto;
}

.Imagens_cotainer > div{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.IDE_SectionParceiros{
    max-width: 250px;
}

.ImagemTres_container{
    width: 253px;
}