.Imagens_cotainer{
    width: 530px;
    margin: auto;
}

.Imagens_cotainer > div{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.IDE_SectionParceiros{
    max-width: 250px;
}

.ImagemTres_container{
    width: 253px;
}


@media screen and (max-width: 800px) {

    .Imagens_cotainer{
        width: 67%;

    }
    .Imagens_cotainer > div{
        flex-direction: column;
        margin: 20px auto;
    }

    .ImagemParceiros_container{
        width: 251px;
        margin: auto auto 50px auto;
    }

}