.ajuda-container{
    display: flex;
    width: 746px;
    margin: 50px auto auto auto;
    justify-content: space-around;
}

.paragrafo-container{
    width: 397px;
    margin: auto;
}

.paragrafo-container > p{
    font-size: 18px;
}

.imagemAjuda-container{
    display: flex;
    width: 402px;
    margin: 10px auto auto auto
}

.imagemAjuda-container > img{
    max-width: 219px;
    width: 100%;
}

.imagemAjuda-container > p{
    width: 154px;
}

.imagemAjuda{
    max-width: 300px;
    width: 100%;
}

.ajuda-container > div > h2{
    width: 467px;
    margin: auto;
    height: auto;
    font-size: 22px;
    color: #33B575;
    padding: 10px;  

}

@media screen and (max-width: 800px){
    .ajuda-container{
        flex-direction: column;
        width: 97%;
        height: 466px;
    }

    .paragrafo-container{
        width: 237px;
        text-align: center;
        
    }

    .imagemAjuda-container{
        flex-direction: column;
        width: 218px;
        margin: 20px auto 20px auto;
    }

    .imagemAjuda-container > p{
        margin: auto;
        text-align: center;
    }

    .ajuda-container > div > h2{
        width: 65%;
    
    }

    .imagemAjuda_container-dois{
        width: 201px;
        margin: auto;
        
    }

  

    .imagemAjuda{
        max-width: 260px;

    }


}
