.nav_contato > ul{
    display: flex;
    width: 499px;
    margin: auto;
}

.nav_contato{
    background-color: #FFB20D;
    margin-top: 100px;
    padding: 20px;
}


@media screen and (max-width: 800px) {
    .nav_contato{
        margin-top: 10px;
    }

    .nav_contato > ul{
        flex-direction: column;
        width: 186px;
    }

    /* .nav_contato > ul > li{
        padding: 9px;
        margin: auto;
    } */
}
