.IDEImagem_container{
    margin: auto;
    width: 515px
}

.IDE_Imagem{
    max-width: 500px;
}

@media screen and (max-width: 800px) {
    .IDEImagem_container{
        width: 327px;
        max-width: 327px;
    }

    .IDE_Imagem{
        width: 100%;
        max-width: 327px;
    }
}
