.container{
    display: flex;
    width: 738px;
    height: 289px;
    margin: 50px auto auto auto;
}

.section_subtitulo{
    margin: 0;
    text-align: center;
    color: #33B575;
}

.section_texto{
    text-align: justify;
    width: 364px;
    height: 269px;
}


@media screen and (max-width: 800px) {
   .container{
       flex-direction: column;
       width: 92%;
       height: 658px;
   }

   .container > div >  img{
        max-width: 300px;
   }

}