.container{
    display: flex;
    justify-content: space-around;
    margin: 50px auto 50px auto;
    width: 683px;
}

.sectionUm_imagem{
    width: 253px;
    margin: auto;
   }

.sectionUm_imagem > img{
    max-width: 252px;
    width: 100%;
}
.section_subtitulo{
    margin: 0;
    text-align: center;
    color: #33B575;
}

.section_textoProjeto{
    text-align: justify;
    width: 364px;
    height: 269px;
}


@media screen and (max-width: 800px) {
   .container{
    flex-direction: column;
    width: 94%;
    margin: 0px auto 30px auto;
   }

   .container > .sectionUm_imagem{
    width: 253px;
    margin: auto;
   } 

   .section_subtitulo{
    padding: 16px;
    font-size: 21px;
   }
   
   .container > div{
    width: 85%;
    margin: auto;
   }

   .section_textoProjeto{
       width: 100%;
   }
}