.container{
    display: flex;
    justify-content: space-around;
    margin: 50px auto 50px auto;
    width: 758px;
}

.sectionUm_imagem > img{
    max-width: 300px;
}
.section_subtitulo{
    margin: 0;
    text-align: center;
    color: #33B575;
}

.section_texto{
    text-align: justify;
    width: 364px;
    height: 269px;
}


@media screen and (max-width: 800px) {
   .container{
    flex-direction: column;
    width: 340px;
    margin: 0px auto 100px auto;
   }

   .sectionUm_imagem{
    margin: auto;
   }

   .section_subtitulo{
    padding: 20px;
   }

}