.programasoferecidos-container{
    display: flex;
    justify-content: space-between;
    width: 388px;
    margin: auto;
}

.equipe-container{
    display: flex;
    margin: auto;
    width: 668px;
    justify-content: space-around;
}