


.titulo1{
    padding: 27px;
    margin: 75px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: #FFE733;
}

.parteUm{
    background-image: url("../../../imagens/titulo1.svg");
    background-size: cover;
    width: 763px;
    margin: auto;
    height: 87px;
}

.parteDois{
    background-image: url("../../../imagens/parteDois.svg");
    background-size: cover;
    width: 763px;
    margin: auto;
    height: 87px;
}


.parteTres{
    background-image: url("../../../imagens/parteTres.svg");
    background-size: cover;    
    width: 763px;
    margin: auto;
    height: 87px;
}



