


.titulo1{
    padding: 27px;
    margin: auto;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: #FFE733;
}

.parteUm{
    background-image: url("../../../imagens/titulo1.svg");
    background-size: cover;
    width: 763px;
    margin: auto;
    height: 87px;
}

.parteDois{
    background-image: url("../../../imagens/parteDois.svg");
    background-size: cover;
    width: 763px;
    margin: auto;
    height: 87px;
}


.parteTres{
    background-image: url("../../../imagens/parteTres.svg");
    background-size: cover;    
    width: 763px;
    margin: auto;
    height: 87px;
}

.parteQuatro{
    background-image: url("../../../imagens/parteTres.svg");
    background-size: cover;    
    width: 763px;
    margin: auto;
    height: 87px;
}


.parteCinco{
    background-image: url("../../../imagens/parteTres.svg");
    background-size: cover;    
    width: 763px;
    margin: auto;
    height: 87px;
}


@media screen and (max-width: 800px) {
    .titulo1{
        padding:10px;
        width: 63%;

    }
    .parteUm,  .parteDois, .parteTres, .parteQuatro, .parteCinco {
      width: 95%;
      margin-bottom: 50px;
    }
}
