.Primeiro_titulo{
    text-align: center;
    text-transform: uppercase;
    color: #33B575;
    margin-top: 60px;
}
.Segundo_titulo{
    text-align: center;
    text-transform: uppercase;
    color: #FFB20D;
    margin-top: 60px;
}

@media screen and (max-width: 800px) {
    .Primeiro_titulo, .Segundo_titulo{
        padding: 20px;
        width: 76%;
        margin: auto;
        font-size: 25px;
    }
}

