.menu-container{
    background-color: #FFB20D;
    display: flex;
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
width: 378px;
background: red;
    
}

ul > li{
    justify-content: space-around ;
}