.menu-container{
    background-color: #FFB20D;
    display: flex;
    justify-content: space-between;
}

nav > div{
    width: 253px;
}

.logoIDETemplate{
    max-width: 100px;
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 306px;
    padding: 20px;

    
}

ul > li{
    justify-content: space-around ;
}

header > img{
    max-width: 100%;
}


@media screen and (max-width: 430px) {
    nav > ul{
        width: 500px;
    }
    
    }
