.sectionDois_container{
    display: flex;
    width: 713px;
    margin: 100px auto 100px auto;
    height: auto;

}

.section_textoDois{
    text-align: justify;
    width: 300px;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .sectionDois_container{
        flex-direction: column;
        width: 94%;
       
    }

    .section_textoDois{
        width: 85%;
    }
 

 }