.programasoferecidos-container{
    display: flex;
    justify-content: space-around;
    width: 688px;
    margin: auto;
}

.programasoferecidos_container-um{
    margin-top: 70px;
}

.programasoferecidos_container-dois{
    margin-top: 23px;
}
.programasoferecidos_container-tres{
    width: 580px;
    margin: 30px auto 70px auto;

}
.equipe-container{
    display: flex;
    margin: 50px auto auto auto;
    width: 638px;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .programasoferecidos-container{
        width: 357px;
    }

    .programasoferecidos_container-um{
        margin: auto;
    }

    .programasoferecidos_container-tres{
        width: 317px;
        margin-bottom: 30px;
    }

    .equipe-container{
        flex-direction: column;
        width: 200px;
        margin: auto;
    }

    .equipe-container > div{
        margin-bottom: 40px;
    }
   }
